body {
    background-color: hsl(265, 96%, 91%);
    color: darkblue;
    font-family: Arial, Helvetica, sans-serif;
    margin: 0px;
}
h1 {
    color: white;
    font-size: 42px;
    text-decoration: underline;
    text-decoration-color: black;
    text-align: center;
}
.logo {
    max-width: 100px;
    margin-left: 30px;
}
.main-header {
    display: flex;
    flex-direction: row;
    background-color: #e8c17d;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
}
.shop-nav {
    width: 100%;
    background-color:#4a3d28;
    display: flex;
    flex-direction: row;
    padding-left: 30px;
    flex-wrap: wrap;
}
.shop-nav a {
    color: #ffe3b3;
    text-decoration: none;
    padding: 10px;
}
.shop-nav a:hover {
    background-color: #ffe3b3;
    color: #4a3d28;
}
.user-nav a {
    font-size: 32pt;
    text-decoration: none;
    color: #4a3d28;
}
.user-nav {
    margin-right: 30px;
}
.search {
    display: flex;
    min-width: 400px;

}
.search input {
    flex: 1;
    padding: 10px;
}
.slide {
    background-color: #e8c17d;
    min-height: 50vh;
    min-width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-position: center;
    background-size: contain;
    background-repeat: no-repeat;
}
.slide:nth-child(1) {
    background-image: url("/images/slides/pexels-rethaferguson-3621960.jpg");
    background-color: pink;
}
.slide:nth-child(2) {
    background-color: aquamarine;
}
@media screen and (max-width:480px) {
    .shop-nav {
        flex-direction: column;
    }
    .logo {
        max-width: 60px;
    }
}